
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    border: 5px solid rgb(183, 183, 10);
    width: 50%;
    margin: 50px auto;
    display: flex;
    /* flex-flow: row nowrap; */
}

.item {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 25px;
    width: calc(100% / 9);
    height: 500px;
    

}



.item1 {
    background-color:tomato;
}
.item2 {
    background-color: rgb(218, 238, 35);
}
.item3 {
    background-color: rgb(66, 177, 58);
}
.item4 {
    background-color: rgb(24, 196, 193);
}
.item5 {
    background-color: rgb(7, 54, 156);
}
.item6 {
    background-color: rgb(160, 24, 181);
}
.item7 {
    background-color: rgb(195, 25, 79);
}
.item8 {
    background-color: rgb(235, 235, 18);
}
.item9 {
    background-color: rgb(84, 30, 200);
}
