* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main_container {
  margin: 15px auto;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 200px 200px 200px;
  gap: 8px;
  justify-content: center;
}

div img {
  width: 100%;
  height: 100%;
}
