body {
  background-color: rgb(239, 239, 228);
}

div {
  margin: 30px;
}
.box1 {
  color: rgb(233, 117, 75);
}

span {
  font-weight: bold;
}
.box3 {
  background-image: url(../img/light.jpg);
  background-size: unset;
  background-repeat: cover;
  opacity: 0.95;
}
