* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.even-number {
  overflow: hidden;
  background-color: #eee;
  width: 1000px;
  margin: 20px auto;
}

.even-number div {
  border: 1px solid black;
  background-color: #f00;
  color: white;
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px;
}

.even:nth-child(even) {
  display: none;
}
